
<br>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          

          <div class="divider d-flex align-items-center my-4">
            <h3 class="text-center fw-bold mx-3 mb-0">Crear cuenta</h3>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">

            <%= f.label "Correo",class:"form-label", for:"form3Example3" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",type:"email", 
                              id:"form3Example3", class:"form-control form-control-lg",
                              placeholder:"Introduzca una dirección de correo electrónico válida" %>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">

            <%= f.label "Contraseña",class:"form-label", for:"form3Example4"%>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caractares como minimo)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",type:"password", 
                                  id:"form3Example4", class:"form-control form-control-lg",
                                  placeholder:"Introducir la contraseña"%>
          </div>

          <div class="form-outline mb-3">
            <%= f.label "Confirmar Contraseña",class:"form-label", for:"form3Example4"%>
            <%= f.password_field :password_confirmation, autocomplete: "new-password",type:"password", 
                                  id:"form3Example4", class:"form-control form-control-lg",
                                  placeholder:"Confirmar la contraseña"%>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">

            </div>
            <p>soportepqr@mystudy.com</p>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">

            <%= f.submit "Crear cuenta" , class:"btn btn-primary btn-lg",
              style:"padding-left: 2.5rem; padding-right: 2.5rem;" %>
            <p class="small fw-bold mt-2 pt-1 mb-0"> ¿ ¡YA! tienes una cuenta ? <a>
            <%= render "devise/shared/links" %></a></p>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>