
<div id="categories" class="container-sm">
  <p style="color: green"><%= notice %></p>
  <h1>Categorias</h1>

  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Ver Categoria", category %>
      <%= button_to "Ver Categoria", @category,class:"btn btn-outline-info" %>
    </p>
  <% end %>
  <%= link_to "Nueva Categoria", new_category_path %>
  <%= button_to "Nueva Categoria", new_category_path,class:"btn btn-outline-success" %>

</div>

